<% if @article.comments.count > 0 %>
    <% @article.comments.each do |comment| %>
        <% if !User.find_by(id: comment.user_id).try(:username).nil? %>
            <div class="user-comment-container">
                <div class="user-comment-info-settings">

                    <div class="user-comment-img-info">
                        <div data-comment-initial=<%= @article.user.username[0].capitalize %>></div>
                        <div class="user-comment-info">
                            <div class="user-comment-username">
                                <%= User.find_by(id: comment.user_id).try(:username) %>
                                <% if @article.user_id == comment.user_id %>
                                    <div class="is-author">AUTHOR</i></div>
                                <% end %>
                            </div>

                            <div class="user-comment-time">
                                <%= Time.at(*comment.created_at.to_i).to_s(:long_ordinal) %>
                            </div>
                        </div>
                    </div>

                    <div class="user-comment-settings">
                        <div class="dropdown-more-section" style="float:left; margin-right:10px;">
                            <div class="dropbtn-more-section"><i class="fas fa-ellipsis-h"></i></div>
                        <div class="dropdown-content-more-section">
                            <% if logged_in? && current_user.id == comment.user_id %>
                                <%= link_to "Edit", 
                                    edit_article_comment_path(@article, comment),
                                    class: "delete-article"
                                %>
                                <%= button_to "Delete", 
                                    article_comment_path(@article, comment), 
                                    method: :delete, 
                                    data: { confirm: "Are you sure?" },
                                    class: "delete-article" 
                                %>
                            <% else %>
                                <a class="dropdown-item">Report this comment</a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
                
                <div class="user-comment">
                    <div class="user-comment-body small-comment">
                        <%= markdown(comment.body) %>
                    </div>
                    <%# if and else statement below so that 
                    all comments' id numbers would be generated %>
                    <% if comment.body.include?("\r") || comment.body.length > 42 %>
                        <div class="read-more" 
                            onclick="readMoreLess(this)"
                        >
                            Read more...
                        </div>
                    <% else %>
                        <div class="read-more" 
                            onclick="readMoreLess(this)"
                            style="display: none;"
                        >
                            Read more...
                        </div>
                    <% end %>
                    <div class="comment-likes-section" type="button">
                        <% if logged_in? %>
                            <% pre_comment_like = comment.comment_likes.find { |comment_like| comment_like.user_id == current_user.id} %>
                            <% if pre_comment_like %>
                                <%= button_to article_comment_comment_like_path(@article, comment, pre_comment_like), method: :delete, class:"favorite-article-btn" do %> 
                                    <i class="fa-solid fa-thumbs-up article-reactions-btn" title="Unlike comment"></i>
                                <% end %>
                            <% else %>
                                <%= button_to article_comment_comment_likes_path(@article, comment), method: :post, class:"favorite-article-btn" do %> 
                                    <i class="fa-regular fa-thumbs-up article-reactions-btn" title="Like comment"></i>
                                <% end %>
                            <% end %>
                        <% else %>
                            <a href="<%= signup_path %>" class="favorite-article-btn like-btn-favorite">
                                <div>
                                    <i class="fa-regular fa-thumbs-up article-reactions-btn" title="Like comment"></i>
                                </div>
                            </a>
                        <% end %>
                        <div class="comment-like-counter" style="font-size:14px"><%= comment.comment_likes.count %> <%= "Like".pluralize(comment.comment_likes.length) %></div>
                    </div>
                </div>
            </div>
        <hr class="line-between-comments">
        <% end %>
    <% end %>
<% else %>
    <div class="no-comment">
        <p><i>There are no comments for this article.</i></p>
        <p><i>Be the first to comment.</i></p>
    </div>
<% end %>

<script>
    // Generate numeric IDs for elements
    $(document).ready(function() {
        let commentIdCounter = 1;
        $('.user-comment').each(function() {
            $(this).attr('id', `user-comment-${commentIdCounter}`);
            commentIdCounter++;
        });

        let readIdCounter = 1;
        $('.read-more').each(function() {
            $(this).attr('id', `read-more-${readIdCounter}`);
            readIdCounter++;            
        });

        let userCommentBodyCounter = 1;
        $('.user-comment-body').each(function() {
            $(this).attr('id', `user-comment-body-${userCommentBodyCounter}`);
            userCommentBodyCounter++;            
        });
    });
    
    // Toggle small and big comment classes
    function readMoreLess(elem) {
        const parent = document.getElementById(elem.id).parentNode;
        const firstChild = document.getElementById(elem.id).parentNode.children[0];
        firstChild.classList.toggle('big-comment');
        console.log(parent.id)

        // Change 'Read more...' to 'Read less...'
        if (firstChild.classList.contains('big-comment')) {
            elem.innerHTML = "Read less..."
        } else {
            elem.innerHTML = "Read more..."
        }
    }
</script>