<div class="bounding-container">
    <%= render 'layouts/back_btn' %>
    <div class="page-title">Edit comment</div>
    <div id="comment-form-container" style="width: 100%;">
        <%= form_with model: [ @article, @comment ] do |f| %>
            <%= render 'shared/error_messages', object: f.object  %>
            <% if logged_in? %>
                <div class="commenter-info" id="commenter-info">
                    <% if current_user.image_data  %>
                        <%= image_tag current_user.image_url, class: "user-gen-blob" %>
                    <% else %>
                        <div data-index-initial=<%= current_user.username[0].capitalize %>></div>
                    <% end %>
                    <div class="user-comment-username" style="margin-left: 10px;">
                        <%= current_user.username %>
                    </div>
                </div>
            <% else %>
                <div class="commenter-info" id="commenter-info">
                        Not registered? 
                    <div class="user-comment-username" style="margin-left: 10px;">
                        <%= link_to "Sign up now!", signup_path %>
                    </div>
                </div>
            <% end %>
            <div class="comment-form-input" id="comment-form-input">
                <%= f.text_area :body, 
                    placeholder: "Add a comment . . .", 
                    class: "comment-textarea-edit-article",
                    id: "comment-textarea-edit-article" 
                %>
            </div>
                
            <div class="comment-form-close-save-btns" id="post-btns">
                <div type="button" class="close-comment-btn" id="close-comment-btn">
                    <%= link_to "Cancel", @article, class:"nav-link", style:"color:#000"%>
                </div>
                <%= f.submit "Post", class:"post-comment-btn" %>
            </div>
        <% end %>
    </div>
</div>

<script>
    // To resize text area as user is typing
    let textarea = document.getElementById("comment-textarea-edit-article");
    textarea.addEventListener('input', autoResize, false);
    
    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight - 3.5 + 'px';
    }
</script>