<% if @articles.count > 0 %>
    <div class="single-article-container">
        <div class="article-container">
            <a href="<%= user_profile_path(@articles[0].user.id) %>">
                <div class="user-img-name-favorite">
                    <div class="user-img-name">
                        <% if @articles[0].user.image_data  %>
                                <%= image_tag @articles[0].user.image_url, class: "user-gen-blob" %>
                            <% else %>
                                <div data-index-initial=<%= @articles[0].user.username[0].capitalize %>></div>
                            <% end %>
                        <a href="<%= user_profile_path(@articles[0].user.id) %>" class="user-name">
                            <%= @articles[0].user.username %>
                        </a>
                    </div>
                    <% if logged_in? %>
                        <div class="favorites-section stand-alone">
                            <% if current_user.favorite_articles.exists?(@articles[0].id) %>
                                <%= button_to article_favorites_path(@articles[0]), method: :delete, class:"favorite-article-btn" do %>
                                    <i class="fa-solid fa-star" title="In Favorites"></i>
                                <% end %>
                            <% else %>
                                <%= button_to article_favorites_path(@articles[0]), method: :post, class:"favorite-article-btn" do %>
                                    <i class="fa-regular fa-star" title="Add to Favorites"></i>
                                <% end %>
                            <% end %>
                        </div>
                    <% else %>
                        <div class="favorites-section stand-alone">
                            <a href="<%= signup_path %>" class="favorite-article-btn">
                                <div title="Favorite">
                                    <i class="fa-regular fa-star" title="Add to Favorites"></i>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            </a>
            <div class="article-title">
                <%= link_to truncate(@articles[0].title.html_safe, length: 50), 
                    @articles[0],
                    class: "article-title-link"
                %>
            </div>
            <div class="article-info" style="color: gray;">
                <%= Time.at(*@articles[0].created_at.to_i).to_fs(:long_ordinal)[0..-6]%>
                <div class="article-info-tools">
                    <i class="far fa-comments disable-hover"></i> <%= @articles[0].comments.count %>
                    <i class="far fa-thumbs-up disable-hover"></i> <%= @articles[0].likes.count %>
                </div>
            </div>
        </div>
        <a href="<%= article_path(@articles[0]) %>">
            <% if @articles[0].image_url %>
                <div class="single-article-img">
                    <img 
                        src="<%= @articles[0].image_url %>"
                        alt="Article image" 
                        class="single-article-cover-img"
                    >
                </div>
            <% else %>
                <div class="single-article-img">
                    <%= image_tag "default-article-img.webp",
                        alt: "Default article image", 
                        class: "single-article-cover-img"
                    %>
                </div>
            <% end %>
        </a>
    </div>
<% else %>
<div style="text-align:center; margin-top:80px; font-size:2rem;">
    No articles published yet. Be the first one to publish.
</div>
<% end %>