<%= render "layouts/text_tools" %>
<%= form_with model: article do |form| %>
<%= render 'shared/error_messages', object: form.object %>
    <div><b>Enter article title:</b></div>
    <div class="article-title-area"> 
        <%= form.text_field :title, 
            placeholder: "Title...",
            class: "article-input-title"
        %>
    </div>

   <div class="field">
        <div><b>Insert article image:</b></div>
        <%= image_tag form.object.image_url if form.object.cached_image_data %>
        <%= form.hidden_field :image, value: form.object.cached_image_data %>
        <%= form.file_field :image, class: "image-input-form" %>
    </div>

    <div class="article-body-area">
        <div><b>Enter article content:</b></div>
        <%= form.text_area :body, 
            placeholder: "Write something that matters to you...",
            class: "article-input-body",
            id: "article-input-body",
            rows: "20"
        %>
    </div>
    <br>

    <div class="publish-btn">
        <div class="cancel-publish-article">
            <%= link_to "Cancel",   articles_path, class:"cancel-publish-article" %>
        </div>
        <div class="publish-article">
            <%= form.submit "Publish", class: "btn" %>
        </div>
    </div>

<% end %>

<script>
    // To resize text area as user is typing
    var textarea = document.getElementById("article-input-body");
    textarea.addEventListener('focus', autoResize, false);
    
    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight - 3.5 + 'px';
    }
</script>