<% if !logged_in? %>
    <%= render "layouts/landing" %>
<% end %>
<div class="all-articles-container">
    <div class="all-articles">
        <div class="latest-popular-index-filter">
            <a href="<%= articles_path %>">
                <div class="latest-popular-btn">Latest</div>
            </a>
            <a href="<%= articles_popular_path %>">
                <div class="latest-popular-btn <%= active_class_desktop?(articles_popular_path) %> ">Popular</div>
            </a>
        </div>
        <%= render 'articles/popular_articles' %>
    </div>
</div>
