<h1><%= @article.title %></h1>

<p><%= @article.body %></p>
<p>Username: <%= User.find_by_sql "SELECT users.id, users.username FROM users, articles WHERE users.id = articles.user_id" %></p>

<ul>
    <li>
        <%= link_to "Edit", edit_article_path(@article) %>
    </li>

    <li>
        <%= link_to "Destroy", 
            article_path(@article), 
            method: :delete, 
            data: { confirm: "Are you sure?" } 
        %>
    </li>
</ul>
