<div class="full-article-container">
    <%= render 'layouts/back_btn' %>
    <div class="page-title"><%= @article.title %></div>
    <div class="full-article-info-settings">

        <div class="full-article-img-info">
            <% if @article.user.image_data  %>
                <%= image_tag @article.user.image_url, class: "user-profile-blob" %>
            <% else %>
                <div data-index-initial=<%= @article.user.username[0].capitalize %>></div>
            <% end %>
            <div class="full-article-info">
                <div class="full-article-name">
                    <%= @article.user.username %>
                </div>
                <div class="full-article-time">
                    <%= Time.at(*@article.created_at.to_i).to_s(:long_ordinal)[0..-6] %>
                </div>
            </div>
        </div>
        

        <div class="full-article-settings"> 
            <%= render "articles/options", article: @article %>
        </div>
    </div>

    <div class="full-article-body">
        <% if @article.image_url %>
            <div class="in-article-img-container">
                <img 
                    src="<%= @article.image_url %>"
                    <%# get the image name  %>
                    alt="<%= @article.image_data.split('"filename":"').last.split('","size"').first %>" 
                    class="in-article-img" 
                    width="600" 
                    height="400"
                >
            </div>
        <% end %>

        <p><%= markdown(@article.body) %></p>
    </div>

    <hr/>

    <div class="comments-likes-report-section">
        <div class="likes-comments-section">
            <div class="likes-section" type="button">
                <% if logged_in? %>
                    <% pre_like = @article.likes.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                        <%= button_to article_like_path(@article, pre_like), method: :delete, class:"favorite-article-btn" do %> 
                            <i class="fa-solid fa-thumbs-up article-reactions-btn" title="Unlike article"></i>
                        <% end %>
                    <% else %>
                        <%= button_to article_likes_path(@article), method: :post, class:"favorite-article-btn" do %> 
                            <i class="fa-regular fa-thumbs-up article-reactions-btn" title="Like article"></i>
                        <% end %>
                    <% end %>
                <% else %>
                    <a href="<%= signup_path %>" class="favorite-article-btn like-btn-favorite">
                        <div>
                            <i class="fa-regular fa-thumbs-up article-reactions-btn" title="Like article"></i>
                        </div>
                    </a>
                <% end %>
                <div style="font-size:14px"><%= @article.likes.count %> <%= "Like".pluralize(@article.likes.length) %></div>
            </div>
            
            <div class="comments-section">
                <% if logged_in? && current_user.comments.where(:article_id => params[:id]).exists? %>
                    <i class="fa-solid fa-comments article-reactions-btn" data-toggle="modal" data-target="#modal-right" data-toggle-class="modal-open-aside" title="Comment article"></i>
                <% else %>
                    <i class="far fa-comments article-reactions-btn" data-toggle="modal" data-target="#modal-right" data-toggle-class="modal-open-aside" title="Comment article"></i>
                <% end %>
                <div style="font-size:14px"><%= @article.comments.count %> <%= "Comment".pluralize(@article.comments.length) %></div>
                <%= render "articles/modal", article: @article %>
            </div>
        </div>
        <% if @article.body.length > 600 %>
            <%= render "articles/options", article: @article %>
        <% end %>

    </div>
</div>
