<div class="full-article-container">
    <div class="page-title"><%= @article.title %></div>
    <div class="full-article-info-settings">

        <div class="full-article-img-info">
            <div data-letters=<%= @article.user.username[0].capitalize %>></div>
            <div class="full-article-info">
                <div class="full-article-name">
                    <%= @article.user.username %>
                </div>
                <div class="full-article-time">
                    <%= Time.at(*@article.created_at.to_i).to_s(:long_ordinal)[0..-6] %>
                </div>
            </div>
        </div>
        

        <div class="full-article-settings"> 
            <%= render "articles/options", article: @article %>
        </div>
    </div>

    <div class="full-article-body">
        <p><%= markdown(@article.body) %></p>
    </div>

    <hr/>

    <div class="comments-likes-report-section">
        <div class="likes-comments-section">
            <div class="likes-section" type="button">
                <i class="far fa-thumbs-up article-reactions-btn" title="Like article"></i>
                <div style="font-size:14px">0 Likes</div>
            </div>
            
            <div class="comments-section">  
                <i class="far fa-comments article-reactions-btn" data-toggle="modal" data-target="#modal-right" data-toggle-class="modal-open-aside" title="Comment article"></i>
                <% if @article.comments.count > 0 %>
                    <div style="font-size:14px"><%= @article.comments.count %> Comments</div>
                <% else %> 
                    <div style="font-size:14px">0 Comments</div>
                <% end %>
                <%= render "articles/modal", article: @article %>
            </div>
        </div>
        <% if @article.body.length > 600 %>
            <%= render "articles/options", article: @article %>
        <% end %>

    </div>
</div>
