<div class="bounding-container">
    <div class="page-title">Settings</div>
    <% provide(:title, "Edit user") %>

    <div class="login-container" style="margin-top: 50px;">
    <div class="login-content">
    <div class="profile-label">Current profile image</div>
        <div class="edit-user-blob">
            <% if current_user.image_data.nil?  %>
                <div data-profile-initial=<%= current_user.username[0].capitalize %>></div>
            <% else %>
                <%= button_to "x",
                            user_delete_profile_image_path(current_user.id), 
                            method: :post,
                            class: "delete-profile-img" 
                %>
                <%= image_tag current_user.image_url, class: "user-profile-blob" %>
            <% end %>
        </div>
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object  %>

         <div class="field" style="display: flex; flex-direction: column;">
            <div class="profile-label">Upload new profile image</div>
            <%= f.file_field :image, class: "image-input-form" %>
        </div>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirm password" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Save changes", class: "btn save-settings-btn" %>
        <% end %>
        
        <% if current_user?(@user) %>
            <div class="danger-zone">
                <h3>Danger Zone</h3>
                <br>
                <div class="danger-zone-items">
                    <p>Delete your entire profile, all articles, comments, likes, and favorites associated.</p>
                    <button id="delete-user-button" class="btn delete-user-btn-container">
                        <%= button_to "Delete User Profile", 
                        @user, 
                        method: :delete, 
                        data: { confirm: "Are you sure?" },
                        class: "delete-user-btn" ,
                        style: "color: white" %>
                    </button>       
                </div>
                <br>

                <div class="danger-zone-items">
                    <p>Delete all of your articles and all comments, likes, and favorites associated.</p>
                    <button id="delete-user-button" class="btn delete-user-btn-container">
                        <%= button_to "Delete All Articles", 
                            destroy_all_user_articles_path(current_user), 
                            method: :delete, 
                            data: { confirm: "Total of '#{Article.where(user_id: current_user).count}' articles. Are you sure?" },
                            class: "delete-user-btn" ,
                            style: "color: white" 
                        %>
                    </button>       
                </div>
                <br>

                <div class="danger-zone-items">
                    <p>Delete all of your comments along with likes and nested comments associated.</p>
                    <button id="delete-user-button" class="btn delete-user-btn-container">
                        <%= button_to "Delete All Comments", 
                            destroy_all_article_comments_url(current_user), 
                            method: :delete, 
                            data: { confirm: "Total of '#{Comment.where(user_id: current_user).count}' comments. Are you sure?" },
                            class: "delete-user-btn" ,
                            style: "color: white" 
                        %>
                    </button>       
                </div>
            </div>
        <% end %>
    </div>
    </div>
</div>