<div class="bounding-container">
    <%= render 'layouts/back_btn' %>
    <div class="page-title">Sign Up</div>
    <% provide(:title, 'Sign up') %>

    <div class="login-container">
        <div class="login-content">
            <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages', object: f.object  %>

                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control' %>

                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>

                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>

                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation, class: 'form-control' %>

                <%= f.submit "Create my account", class: "btn save-settings-btn" %>
            <% end %>
            <div class="to-login-page">
                Already a member? 
                <%= link_to "Log in",  login_path, class:"nav-link" %>
            </div>
            
        </div>
    </div>
</div>