<div class="bounding-container">
    <div class="page-title page-title-favorites"><%= @user.username %></div>
    <div class="show-user-articles-metrics">
        <div class="favorites-count"> <i class="fa-solid fa-file-pen" title="Articles count"></i> <%= @user_articles.size %></div>
        <div class="favorites-count"> <i class="far fa-comments" title="Comments count"></i> <%= @user.comments.size %></div>
    </div>
    <% if @user_articles.size < 1 %>
        <div>No articles written yet.</div>
    <% else %>
        <% @user_articles.each do |article| %>
            <div class="single-article-container">
                <a href="<%= article_path(article) %>"><div class="single-article-img"></div></a>
                <div class="article-container">
                    <a href="<%= user_profile_path(article.user.id) %>">
                        <div class="user-img-name-favorite">
                            <div class="user-img-name">
                                <div data-index-initial=<%= article.user.username[0].capitalize %>></div>
                                <a href="<%= user_profile_path(article.user.id) %>" class="user-name">
                                    <%= article.user.username %>
                                </a>
                            </div>
                            <% if logged_in? %>
                                <div class="favorites-section stand-alone">
                                    <% if current_user.favorite_articles.exists?(article.id) %>
                                        <%= button_to article_favorites_path(article), method: :delete, class:"favorite-article-btn" do %>
                                            <i class="fa-solid fa-star" title="In Favorites"></i>
                                        <% end %>
                                    <% else %>
                                        <%= button_to article_favorites_path(article), method: :post, class:"favorite-article-btn" do %>
                                            <i class="fa-regular fa-star" title="Add to Favorites"></i>
                                        <% end %>
                                    <% end %>
                                </div>
                            <% else %>
                                <div class="favorites-section stand-alone">
                                    <a href="<%= signup_path %>" class="favorite-article-btn">
                                        <div title="Favorite">
                                            <i class="fa-regular fa-star" title="Add to Favorites"></i>
                                        </div>
                                    </a>
                                </div>
                            <% end %>
                        </div>
                    </a>
                    <div class="article-title">
                        <%= link_to truncate(article.title.html_safe, length: 50), 
                            article,
                            class: "article-title-link"
                        %>
                    </div>
                    <div class="article-info" style="color: gray;">
                        <%= Time.at(*article.created_at.to_i).to_s(:long_ordinal)[0..-6]%>
                        <div style="margin-left: 10px;">
                            <i class="far fa-comments disable-hover"></i> <%= article.comments.count %> <%= "Comment".pluralize(article.comments.length) %>
                            <i class="far fa-thumbs-up disable-hover" style="margin-left: 10px;"></i> <%= article.likes.count %> <%= "Like".pluralize(article.likes.length) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>