<footer>
    <div class="footer-items-container">
        <a href="<%= about_path %>" class="footer-item">
            <div>
                About
            </div>
        </a>
        <a href="<%= contact_path %>" class="footer-item">
            <div>
                Contact
            </div>
        </a>
        <a href="<%= help_path %>" class="footer-item">
            <div>
                Help
            </div>
        </a>
        <a href="<%= privacy_policy_path %>" class="footer-item">
            <div>
                Privacy Policy
            </div>
        </a>
        <a href="<%= terms_and_conditions_path %>" class="footer-item">
            <div>
                Terms & Conditions
            </div>
        </a>
        <a href="<%= disclaimer_path %>" class="footer-item">
            <div>
                Disclaimer
            </div>
        </a>
    </div>
    <div class="footer-socials">
        <a href="https://github.com/MarMil1" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/marko-milosavljevic/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
    <a href="<%= root_path %>" class="logo-container-link logo-footer">
        <div class="logo-container">
        <div id="logo">SAND</div>
          <%= image_tag "sandglass-logo.svg",
              alt: "Logo", 
              class: "logo-image"
          %>
          <div id="logo">GLASS</div>
        </div>
      </a>
    <div class="copyright-content">Copyright &copy; <%= Date.current.year %> Marko Milosavljevic</div>
</footer>