<div class="nav-container">
  <%= link_to "sphere_blog", articles_path, id: "logo" %>
  <div class="topnav" id="myTopnav">
    <%= link_to "Home",   articles_path, class:"nav-link-first" %>
    <%= link_to "Help",   '#', class:"nav-link" %>
    <% if logged_in? %>
      <%= link_to "Archive", '#', class:"nav-link" %>
      <div class="dropdown">
        <button class="dropbtn">
          <div data-comment-initial=<%= current_user.username[0].capitalize %>></div> 
        </button>
        <div class="dropdown-content">
          <%= link_to "Write an article", new_article_path, class:"nav-link" %>
          <%= link_to "Profile", current_user, class:"nav-link" %>
          <%= link_to "Settings", edit_user_path(current_user), class:"nav-link" %>
          <%= link_to "Log out", logout_path, method: :delete, class:"nav-link" %>
        </div>
      <% else %>
        <%= link_to "Sign Up", signup_path, class:"nav-link" %>
        <%= link_to "Log in",  login_path, class:"nav-link" %>
      <% end %>
      </div>
      <% if logged_in? %>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon nav-link" onclick="myFunction()">&#9776;</a>
    <% end %>
  </div>
</div>

<script>
// Navbar dropdown when mobile screen
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
</script>