<aside class="sidenav-container">
    <a href="<%= articles_path %>">
        <div class="nav-link <%= active_class_desktop?(articles_path) || active_class_desktop?(articles_popular_path) || active_class_desktop?(root_path)%>">
            Home
        </div>
    </a>
    <% if logged_in? %>
        <a href="<%= new_article_path %>">
            <div class="nav-link <%= active_class_desktop?(new_article_path) %>">
                Write
            </div>
        </a>
        <a href="<%= user_favorites_path(current_user) %>">
            <div class="nav-link <%= active_class_desktop?(user_favorites_path(current_user)) %>">
                Favorites
            </div>
        </a>
        <a href="<%= user_path(current_user) %>">
            <div class="nav-link <%= active_class_desktop?(user_path(current_user)) %>">
                Profile
            </div>
        </a>
        <a href="<%= edit_user_path(current_user) %>">
            <div class="nav-link <%= active_class_desktop?(edit_user_path(current_user)) %>">
                Settings
            </div>
        </a>
    <% else %>
        <a href="<%= signup_path %>">
            <div class="nav-link <%= active_class_desktop?(signup_path) %>">
                Write
            </div>
        </a>
    <% end %>
    <a href="<%= about_path %>">
        <div class="nav-link <%= active_class_desktop?(about_path) %>">
            About
        </div>
    </a>
    <a href="<%= contact_path %>">
        <div class="nav-link <%= active_class_desktop?(contact_path) %>">
            Contact
        </div>
    </a>
    <a href="<%= help_path %>">
        <div class="nav-link <%= active_class_desktop?(help_path) %>">
            Help
        </div>
    </a>
</aside>